registry=https://registry.npmjs.org/
audit=false
fund=false
progress=false
save-exact=true
maxsockets=4
fetch-retries=1
fetch-timeout=60000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
loglevel=notice
